:root {
    --main-color : #ff9800;
}
*{
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    width: 90%;
    /* width: 1170px; */
    padding: 0 15px;
    margin: auto;
}
/* Start Settings Box */
.settings-box {
    border: 3px solid #eee;
    position: fixed;
    left: -35vh;
    top: 0;
    background-color:#fff;
    width: 35vh;
    height: 100vh;
    z-index: 3;
    transition: 0.5s;
    align-items: center;
}
.settings-box.open{
    left: 0;
}

.settings-box .toggle-settings {
    border: 3px solid ;
    border-color: #eee #eee #eee transparent;
    position: absolute;
    right: -50px;
    top: 100px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}
.settings-box.open .toggle-settings{
    border-radius: 0 45% 45% 0;
    right: -40px;
}
.settings-box .toggle-settings .fa-cog {
    padding: 8px 6px;
}
.settings-box .toggle-settings .fa-cog:hover {
    transition: 1s ease-in-out;
    transform: rotate(360deg);
}
.option-box{
    margin: 10px;
    background-color: #eee;
    text-align: center;
    padding: 10px;
}
.option-box#radio{
    text-align: initial;
}
.option-box h3{
    margin: 0;
    color: #666;
    margin: 0 0 10px 0;
}
.option-box h4{
    color: #666;
    margin: 0.5em 0 0.5em 0 ;
}
.settings-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.settings-box .colors-list li{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    display: inline-block;
    border: 3px solid #eee;
}
.settings-box .colors-list li:first-child {
    background-color: #ff9800;
}
.settings-box .colors-list li:nth-child(2){
    background-color: #e91e63;
}
.settings-box .colors-list li:nth-child(3){
    background-color: #009688;
}
.settings-box .colors-list li:nth-child(4){
    background-color: #03a9f4;
}
.settings-box .colors-list li:nth-child(5){
    background-color: #4caf50;
}
.settings-box .colors-list li.active{
    opacity: 1;
    border: 3px solid #fff;
}

/* Start Settings Box */

/* Start Landing page */
.landing-page {
    min-height: 100vh;
    background-image: url("../img/01.png");
    background-size: cover;
    position: relative;
}
.landing-page .overlay {
    background-color: #00000069;;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}
.header-area {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 10px;
}
.header-area .logo {
    width: 300px;
    padding: 15px;
    font-weight: bold;
    font-size: 20px;
}
.header-area .logo span{
    color: var(--main-color);
}
.header-area .links {
    list-style: none;
    width: 100%;
    padding-left: 0;
    padding-right: 20px;
    text-align: right;
    font-size: 15px;
}
.header-area .links li {
    display: inline-block;
    margin-left: 10px;
}
.header-area .links li a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
.header-area .links li a:hover {
    color: var(--main-color);
}
.header-area .links li a.active {
    color: var(--main-color);
}
.introduction-text {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    text-align: center;
}
.introduction-text h1 {
    font-size: 34px;
    margin: 0 0 12px 0;
}
.introduction-text h1 span {
    transition: .5s;
    color: var(--main-color);
}
.introduction-text p{
    line-height: 1.6;
    font-size: 20px;
    margin: 0;
}
/* End Landing page */


.range-wrap {
    position: relative;
    margin: 0 auto 3rem;
}
.range {
    width: 100%;
}
.bubble {
    top: 42px;
    background: #03a9f4;
    color: white;
    padding: 4px 12px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    transform: translateX(-50%);
}
.bubble::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 10px solid #03a9f4;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	top: -30%;
	left: 50%;
	margin-left: -5px;
	margin-top: -1px;
}

/* Start About us */

.about-us {
    padding: 50px 0;
    display: flex;
}

.about-us .info-box {
    flex: 1;
}

.about-us .info-box h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 20px 0;
}

.about-us .info-box p {
    line-height: 1.8;
    color: #767676;
    margin: 0;
}

.about-us .container {
    display: flex;
}

.about-us .container .image-box {
    flex: 1;
    text-align: center;
}

.about-us .container .image-box svg {
    height: 80%;
    width: 80%;
    margin: 0;
}

.about-us .container .image-box path {
    fill: var(--main-color); 
}
/* End About us */

/* Start Skills */

.skills{
    background-color: #eee;
    padding: 50px 0 ;
}

.skills h2{
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px 0;
}

.skills .skill-box {
    background-color: #fff;
    display: flex;
    padding: 15px;
    margin-bottom: 15px;
}

.skills .skill-box .skill-name {
    font-weight: bold;
    width: 140px;
    text-align: center;
    line-height: 30px;
}

.skills .skill-box .skill-progress {
    height: 30px;
    width: calc(100% - 110px ) ;
    background-color: #f6f6f6;
    border-radius: 10px ;
    position: relative;
}

.skills .skill-box .skill-progress span {
    position: absolute ;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 10px ;
    background-color: var(--main-color);
    width: 0%;
    transition: all .8s;
}

/* End Skills */

/* Start Gallery */

.gallery {
    padding: 50px 0;
}

.gallery h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 50px 0;
}

.gallery .images-box {
    text-align: center;
}

.gallery .images-box img {
    width: 200px;
    height: 120px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
}
.popup-overlay {
    position: fixed ;
    background-color: rgba(0, 0, 0, 0.7);
    left : 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.popup-box {
    position: fixed;
    width: 90%;
    /* height: 39%; */
    max-width: 63vw;
    max-height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 6;
}

.popup-box h3 {
    font-weight: bold;
    text-align: center;
    margin: 10px 0 10px 0;
    color: var(--main-color);
    font-size: 28px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.popup-box span {
    position: absolute;
    top: -15px ;
    right: -15px ;
    background-color: var(--main-color);
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10% 50%;
}

.popup-box img {
    max-width: 100%;
}
/* End Gallery */

/* Start Timeline */

.timeline {
    padding: 50px 0;
    background-color: #eee;
}

.timeline .timeline-content{
    position: relative;
    overflow: hidden;
}

.timeline .timeline-content .content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 20px;
    width: 100%;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/rip.svg) bottom center;
    background-size: 150%;
}
.timeline .timeline-content:before {
    content: ' ';
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    margin-left: 1px;
    top: 0;
}

.timeline .timeline-content .year{
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    z-index: 2;
    border-radius: 2px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    padding: 3px 5px;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right{
    width: calc( 50% - 25px);
    margin-bottom: 40px;
    position: relative;
}

.timeline .timeline-content .left {
    float: left;
}
.timeline .timeline-content .right:before, 
.timeline .timeline-content .left:before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 3px solid var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 20px;
}
.timeline .timeline-content .right:before {
    left: -33px;
}

.timeline .timeline-content .left:before {
    right: -36.75px;
}


.timeline .timeline-content .right{
    float: right;
    
}

.timeline .timeline-content .content{
    padding: 20px;
    background-color: #fff;
}
.timeline .timeline-content .content h3{
    font-weight: bold;
    color: var(--main-color);
    margin: 0 0 10px 0;
}

.timeline .timeline-content .content p {
    color: #666;
    margin: 0;
    font-size: 1em;
}
.clearfix {
    clear: both;
}

.timeline .timeline-content .right .content:before, 
.timeline .timeline-content .left .content:before {
    content: "";
    border-style: solid;
    border-width: 10px;
    height: 0px;
    width: 0;
    position: absolute;
}
.timeline .timeline-content .left .content:before{
    border-color: transparent transparent transparent #fff;
    top: 20px;
    right: -20px;
}

.timeline .timeline-content .right .content:before{
    border-color: transparent #fff transparent transparent ;
    top: 20px;
    left: -20px;
}

/* End Timeline */


/* Start Contact us  */

.contact {
    background-image: url("/img/Contact-us.svg");
    height: 600px;
    background-size: cover;
    padding: 80px 0;
    position: relative;
}
.contact .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5;
}

.contact .container {
    position: relative;
    z-index: 6;
}

.contact .container h2 {
    font-weight: bold;
    font-size: 30px;
    color: var(--main-color);
    margin: 0 0 60px;
    text-align: center;
}

.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: 5px auto;
    padding: 10px ;
}

.contact form .left {
    float: left;
    width: 48%;
}

.contact form .right {
    float: right;
    width: 48%;
}

.contact form input:not([type="submit"]) ,
.contact form textarea {
    display: block;
    margin: 5px auto;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: rgba(218, 218, 218, 0.1);
}
.contact form input:not([type="submit"]):focus ,
.contact form textarea:focus {
    outline: 2px solid var(--main-color);
}

.contact form input {
    height: 40px;
    border-radius: 5px;
}
.contact form textarea {
    height: 150px;
}

.contact form input[type="submit"] {
    padding: 10px;
    width: 100%;
    border-color: transparent;
    background-color: var(--main-color);
    color: #fff;
    cursor: pointer;
}

.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:focus::-webkit-input-placeholder {
    opacity: 0;
    transition: 0.5s;
}

/* End Contact us  */

/* Start Footer  */

.footer {
    background-color: #333;
    color: #eee;
    padding: 20px;
    text-align: center;
}

/* End Footer  */